.buttons{
    margin-top: 20px;
    width: auto;
    padding: 0vmin 25vmin 0vmin 25vmin;

}
.buttons button{
    height: 35px;
    font-weight: 700;
    font-size: 20px;
    width: auto;
    padding: 5px;
    border-radius: 15px;
    background-color: transparent;
    border: 2px solid black;
    margin: 5px;
}